.header-hold {
  position: relative;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;

  &__inner {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0B0A14;
  }

  &__block {
    display: flex;
    align-items: center;
  }
}