.header-hold {
  position: relative;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;

  &__inner {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0B0A14;

    @media (max-width: 1151px) {
      height: 48px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__menu {
    @media (max-width: 1151px) {
      position: fixed;
      left: 0;
      top: 48px;
      transform: translateX(-100%);
      opacity: 0;
      width: 320px;
      height: calc(100% - 48px);
      transition: 300ms;

      &.open {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__logo {

  }
}