.big-card-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-shrink: 0;
    @include grid(2, 30px, 30px);

    @media (max-width: 570px) {
      @include grid(1, 30px, 30px);

      &:nth-child(1n - 1) {
        margin-right: 0;
      }
    }
  }
}